:root.theme-dark {
  --accent-color-focus: #db00ff;
  --accent-color: #ff0070;
  --hover-border-color: rgb(255 0 112 / 0.4);
  --decor-text-color: #000028;
  --cover-img: url(../images/cover-image-dark.png);
  --main-font-color: #f1b2ce;
  --main-elemet-color: #ff0070;
}

.theme-dark .header__rec {
  display: flex;
}
